<footer class="footer">
    <div class="footer-container">
        <!-- Section de navigation -->
        <div class="footer-nav">
            <ul>
                <li><a href="#home">Discord</a></li>
            </ul>
        </div>
        <!-- Section copyright -->
        <div class="footer-bottom">
            <p>lolstats.gg Stats isn't endorsed by Riot Games and doesn't
                reflect the
                views or opinions of Riot Games or anyone officially involved in
                producing or managing League of Legends.
            </p>
        </div>
    </div>
</footer>
