.page-container {
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr pour le contenu, auto pour le footer */
    min-height: 100vh; /* Remplir toute la hauteur de la fenêtre */
}
.content {
    padding: 20px;
}
