<div class="background"></div>
<div class="container" *ngIf="matchDetails$ | async as matchDetail">
    <div class="page">
        <p>Match details</p>
        <h1>{{findQueue(matchDetail.queueId)?.description}}</h1>
    </div>
    <div class="match">
        <div class="team">
            <div class="result defeat"
                *ngIf="matchDetail.winner != 'RED'">Defeat</div>
            <div class="result victory"
                *ngIf="matchDetail.winner == 'RED'">Victory</div>
            <div class="info blue">Carry Score - <b>RED TEAM</b></div>
            <div class="heroes">
                <div class="hero" *ngFor="let hero of matchDetail.redTeamScore">
                    <div class="role">
                        <img
                            [src]="hero.position ? './assets/' + hero.position + '.png' : './assets/default.png'"
                            alt="Role Icon">
                    </div>
                    <div>
                        <a class="name">
                            {{hero.summonerName}}
                        </a>
                        <div class="avatar">
                            <div class="image">
                                <img
                                    [src]="'./assets/champion/' + hero.championName + '.png'"
                                    alt="Hero Avatar" />
                                <div class="level">
                                    <div>12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%; margin-left: 10px;">
                        <app-progression-bar
                            [carryScore]="hero.score"></app-progression-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="result defeat"
                *ngIf="matchDetail.winner != 'BLUE'">Defeat</div>
            <div class="result victory"
                *ngIf="matchDetail.winner == 'BLUE'">Victory</div>
            <div class="info red">Carry Score - <b>BLUE TEAM</b></div>
            <div class="heroes">
                <div class="hero" *ngFor="let hero of matchDetail.blueScore">
                    <div class="role">
                        <img
                            [src]="hero.position ? './assets/' + hero.position + '.png' : './assets/default.png'"
                            alt="Role Icon">
                    </div>
                    <div>
                        <a class="name">
                            {{hero.summonerName}}
                        </a>
                        <div class="avatar">
                            <div class="image">
                                <img
                                    [src]="'./assets/champion/' + hero.championName + '.png'"
                                    alt="Hero Avatar" />
                                <div class="level">
                                    <div>12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%; margin-left: 10px">
                        <app-progression-bar
                            [carryScore]="hero.score"></app-progression-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
