<div class="background"></div>
<div class="container">
    <h1>Find a summoner</h1>
    <p>Find the best player in your match</p>
    <div class="form-search-bar">

        <div class="searchbar">
            <form (ngSubmit)="search()" class="form-container">
                <input type="text" (ngModelChange)="updateQuery()"
                    [(ngModel)]="gameName" name="searchQuery"
                    placeholder="Search Yourself or another Summoner (Name#TagLine)" />
                <select [(ngModel)]="regionQuery" name="Region" id="cars">
                    <option *ngFor="let region of regions"
                        [value]="region">{{region}}</option>
                </select>
            </form>
            <button (click)="search()">
                Search
            </button>
        </div>
        <div *ngIf="isLoading" class="loader">
            <div class="spinner"></div>
        </div>
        <div *ngIf="showError" class="notification error">
            Can't find <b>{{gameName}}</b>
        </div>
    </div>
</div>